<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.hansam.mapper.SysOpMapper">
  <resultMap id="BaseResultMap" type="cc.hansam.entity.SysOp">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="OP_CODE" jdbcType="VARCHAR" property="opCode" />
    <result column="OP_NAME" jdbcType="VARCHAR" property="opName" />
    <result column="OP_KIND" jdbcType="DECIMAL" property="opKind" />
    <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
    <result column="EMAIL_ADRESS" jdbcType="VARCHAR" property="emailAdress" />
    <result column="LOGIN_CODE" jdbcType="VARCHAR" property="loginCode" />
    <result column="LOGIN_PASSWD" jdbcType="VARCHAR" property="loginPasswd" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="NOTES" jdbcType="VARCHAR" property="notes" />
    <result column="ALLOW_CHANGE_PASSWD" jdbcType="DECIMAL" property="allowChangePasswd" />
    <result column="LAST_LOGIN_LOG_ID" jdbcType="DECIMAL" property="lastLoginLogId" />
    <result column="LAST_LOGIN_TIME" jdbcType="DECIMAL" property="lastLoginTime" />
    <result column="TRY_TIMES" jdbcType="DECIMAL" property="tryTimes" />
    <result column="LOGIN_FLAG" jdbcType="DECIMAL" property="loginFlag" />
    <result column="SUPER_USER_FLAG" jdbcType="DECIMAL" property="superUserFlag" />
    <result column="PASSWD_VALID_DAYS" jdbcType="DECIMAL" property="passwdValidDays" />
    <result column="LOCK_FLAG" jdbcType="DECIMAL" property="lockFlag" />
    <result column="IS_UPDATE_PWD" jdbcType="DECIMAL" property="isUpdatePwd" />
    <result column="LOGIN_AUTH_CODE" jdbcType="VARCHAR" property="loginAuthCode" />
    <result column="CUSTOM_1" jdbcType="VARCHAR" property="custom1" />
    <result column="CUSTOM_2" jdbcType="VARCHAR" property="custom2" />
    <result column="CUSTOM_3" jdbcType="VARCHAR" property="custom3" />
    <result column="CUSTOM_4" jdbcType="DECIMAL" property="custom4" />
    <result column="CUSTOM_5" jdbcType="DECIMAL" property="custom5" />
    <result column="CUSTOM_6" jdbcType="DECIMAL" property="custom6" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId" />
    <result column="USER_DOMAIN_ID" jdbcType="DECIMAL" property="userDomainId" />
    <result column="DATA_STATUS" jdbcType="DECIMAL" property="dataStatus" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="CREATE_TIME" jdbcType="DECIMAL" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="DECIMAL" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, OP_CODE, OP_NAME, OP_KIND, MOBILE_NO, EMAIL_ADRESS, LOGIN_CODE, LOGIN_PASSWD, 
    SHORT_NAME, NOTES, ALLOW_CHANGE_PASSWD, LAST_LOGIN_LOG_ID, LAST_LOGIN_TIME, TRY_TIMES, 
    LOGIN_FLAG, SUPER_USER_FLAG, PASSWD_VALID_DAYS, LOCK_FLAG, IS_UPDATE_PWD, LOGIN_AUTH_CODE, 
    CUSTOM_1, CUSTOM_2, CUSTOM_3, CUSTOM_4, CUSTOM_5, CUSTOM_6, STATUS, DOMAIN_ID, USER_DOMAIN_ID, 
    DATA_STATUS, CREATOR, MODIFIER, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByExample" parameterType="cc.hansam.entity.SysOpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_op
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_op
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_op
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cc.hansam.entity.SysOpExample">
    delete from sys_op
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.hansam.entity.SysOp">
    insert into sys_op (ID, OP_CODE, OP_NAME, 
      OP_KIND, MOBILE_NO, EMAIL_ADRESS, 
      LOGIN_CODE, LOGIN_PASSWD, SHORT_NAME, 
      NOTES, ALLOW_CHANGE_PASSWD, LAST_LOGIN_LOG_ID, 
      LAST_LOGIN_TIME, TRY_TIMES, LOGIN_FLAG, 
      SUPER_USER_FLAG, PASSWD_VALID_DAYS, LOCK_FLAG, 
      IS_UPDATE_PWD, LOGIN_AUTH_CODE, CUSTOM_1, 
      CUSTOM_2, CUSTOM_3, CUSTOM_4, 
      CUSTOM_5, CUSTOM_6, STATUS, 
      DOMAIN_ID, USER_DOMAIN_ID, DATA_STATUS, 
      CREATOR, MODIFIER, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=DECIMAL}, #{opCode,jdbcType=VARCHAR}, #{opName,jdbcType=VARCHAR}, 
      #{opKind,jdbcType=DECIMAL}, #{mobileNo,jdbcType=VARCHAR}, #{emailAdress,jdbcType=VARCHAR}, 
      #{loginCode,jdbcType=VARCHAR}, #{loginPasswd,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{allowChangePasswd,jdbcType=DECIMAL}, #{lastLoginLogId,jdbcType=DECIMAL}, 
      #{lastLoginTime,jdbcType=DECIMAL}, #{tryTimes,jdbcType=DECIMAL}, #{loginFlag,jdbcType=DECIMAL}, 
      #{superUserFlag,jdbcType=DECIMAL}, #{passwdValidDays,jdbcType=DECIMAL}, #{lockFlag,jdbcType=DECIMAL}, 
      #{isUpdatePwd,jdbcType=DECIMAL}, #{loginAuthCode,jdbcType=VARCHAR}, #{custom1,jdbcType=VARCHAR}, 
      #{custom2,jdbcType=VARCHAR}, #{custom3,jdbcType=VARCHAR}, #{custom4,jdbcType=DECIMAL}, 
      #{custom5,jdbcType=DECIMAL}, #{custom6,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{domainId,jdbcType=DECIMAL}, #{userDomainId,jdbcType=DECIMAL}, #{dataStatus,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=DECIMAL}, 
      #{modifyTime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cc.hansam.entity.SysOp">
    insert into sys_op
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="opCode != null">
        OP_CODE,
      </if>
      <if test="opName != null">
        OP_NAME,
      </if>
      <if test="opKind != null">
        OP_KIND,
      </if>
      <if test="mobileNo != null">
        MOBILE_NO,
      </if>
      <if test="emailAdress != null">
        EMAIL_ADRESS,
      </if>
      <if test="loginCode != null">
        LOGIN_CODE,
      </if>
      <if test="loginPasswd != null">
        LOGIN_PASSWD,
      </if>
      <if test="shortName != null">
        SHORT_NAME,
      </if>
      <if test="notes != null">
        NOTES,
      </if>
      <if test="allowChangePasswd != null">
        ALLOW_CHANGE_PASSWD,
      </if>
      <if test="lastLoginLogId != null">
        LAST_LOGIN_LOG_ID,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="tryTimes != null">
        TRY_TIMES,
      </if>
      <if test="loginFlag != null">
        LOGIN_FLAG,
      </if>
      <if test="superUserFlag != null">
        SUPER_USER_FLAG,
      </if>
      <if test="passwdValidDays != null">
        PASSWD_VALID_DAYS,
      </if>
      <if test="lockFlag != null">
        LOCK_FLAG,
      </if>
      <if test="isUpdatePwd != null">
        IS_UPDATE_PWD,
      </if>
      <if test="loginAuthCode != null">
        LOGIN_AUTH_CODE,
      </if>
      <if test="custom1 != null">
        CUSTOM_1,
      </if>
      <if test="custom2 != null">
        CUSTOM_2,
      </if>
      <if test="custom3 != null">
        CUSTOM_3,
      </if>
      <if test="custom4 != null">
        CUSTOM_4,
      </if>
      <if test="custom5 != null">
        CUSTOM_5,
      </if>
      <if test="custom6 != null">
        CUSTOM_6,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID,
      </if>
      <if test="dataStatus != null">
        DATA_STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="opCode != null">
        #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="opName != null">
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="opKind != null">
        #{opKind,jdbcType=DECIMAL},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="emailAdress != null">
        #{emailAdress,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null">
        #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="loginPasswd != null">
        #{loginPasswd,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="allowChangePasswd != null">
        #{allowChangePasswd,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginLogId != null">
        #{lastLoginLogId,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=DECIMAL},
      </if>
      <if test="tryTimes != null">
        #{tryTimes,jdbcType=DECIMAL},
      </if>
      <if test="loginFlag != null">
        #{loginFlag,jdbcType=DECIMAL},
      </if>
      <if test="superUserFlag != null">
        #{superUserFlag,jdbcType=DECIMAL},
      </if>
      <if test="passwdValidDays != null">
        #{passwdValidDays,jdbcType=DECIMAL},
      </if>
      <if test="lockFlag != null">
        #{lockFlag,jdbcType=DECIMAL},
      </if>
      <if test="isUpdatePwd != null">
        #{isUpdatePwd,jdbcType=DECIMAL},
      </if>
      <if test="loginAuthCode != null">
        #{loginAuthCode,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null">
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null">
        #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null">
        #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null">
        #{custom4,jdbcType=DECIMAL},
      </if>
      <if test="custom5 != null">
        #{custom5,jdbcType=DECIMAL},
      </if>
      <if test="custom6 != null">
        #{custom6,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.hansam.entity.SysOpExample" resultType="java.lang.Long">
    select count(*) from sys_op
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_op
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.opCode != null">
        OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      </if>
      <if test="record.opName != null">
        OP_NAME = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.opKind != null">
        OP_KIND = #{record.opKind,jdbcType=DECIMAL},
      </if>
      <if test="record.mobileNo != null">
        MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.emailAdress != null">
        EMAIL_ADRESS = #{record.emailAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.loginCode != null">
        LOGIN_CODE = #{record.loginCode,jdbcType=VARCHAR},
      </if>
      <if test="record.loginPasswd != null">
        LOGIN_PASSWD = #{record.loginPasswd,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null">
        SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null">
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.allowChangePasswd != null">
        ALLOW_CHANGE_PASSWD = #{record.allowChangePasswd,jdbcType=DECIMAL},
      </if>
      <if test="record.lastLoginLogId != null">
        LAST_LOGIN_LOG_ID = #{record.lastLoginLogId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastLoginTime != null">
        LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=DECIMAL},
      </if>
      <if test="record.tryTimes != null">
        TRY_TIMES = #{record.tryTimes,jdbcType=DECIMAL},
      </if>
      <if test="record.loginFlag != null">
        LOGIN_FLAG = #{record.loginFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.superUserFlag != null">
        SUPER_USER_FLAG = #{record.superUserFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.passwdValidDays != null">
        PASSWD_VALID_DAYS = #{record.passwdValidDays,jdbcType=DECIMAL},
      </if>
      <if test="record.lockFlag != null">
        LOCK_FLAG = #{record.lockFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.isUpdatePwd != null">
        IS_UPDATE_PWD = #{record.isUpdatePwd,jdbcType=DECIMAL},
      </if>
      <if test="record.loginAuthCode != null">
        LOGIN_AUTH_CODE = #{record.loginAuthCode,jdbcType=VARCHAR},
      </if>
      <if test="record.custom1 != null">
        CUSTOM_1 = #{record.custom1,jdbcType=VARCHAR},
      </if>
      <if test="record.custom2 != null">
        CUSTOM_2 = #{record.custom2,jdbcType=VARCHAR},
      </if>
      <if test="record.custom3 != null">
        CUSTOM_3 = #{record.custom3,jdbcType=VARCHAR},
      </if>
      <if test="record.custom4 != null">
        CUSTOM_4 = #{record.custom4,jdbcType=DECIMAL},
      </if>
      <if test="record.custom5 != null">
        CUSTOM_5 = #{record.custom5,jdbcType=DECIMAL},
      </if>
      <if test="record.custom6 != null">
        CUSTOM_6 = #{record.custom6,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.domainId != null">
        DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      </if>
      <if test="record.userDomainId != null">
        USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="record.dataStatus != null">
        DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_op
    set ID = #{record.id,jdbcType=DECIMAL},
      OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      OP_NAME = #{record.opName,jdbcType=VARCHAR},
      OP_KIND = #{record.opKind,jdbcType=DECIMAL},
      MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      EMAIL_ADRESS = #{record.emailAdress,jdbcType=VARCHAR},
      LOGIN_CODE = #{record.loginCode,jdbcType=VARCHAR},
      LOGIN_PASSWD = #{record.loginPasswd,jdbcType=VARCHAR},
      SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      ALLOW_CHANGE_PASSWD = #{record.allowChangePasswd,jdbcType=DECIMAL},
      LAST_LOGIN_LOG_ID = #{record.lastLoginLogId,jdbcType=DECIMAL},
      LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=DECIMAL},
      TRY_TIMES = #{record.tryTimes,jdbcType=DECIMAL},
      LOGIN_FLAG = #{record.loginFlag,jdbcType=DECIMAL},
      SUPER_USER_FLAG = #{record.superUserFlag,jdbcType=DECIMAL},
      PASSWD_VALID_DAYS = #{record.passwdValidDays,jdbcType=DECIMAL},
      LOCK_FLAG = #{record.lockFlag,jdbcType=DECIMAL},
      IS_UPDATE_PWD = #{record.isUpdatePwd,jdbcType=DECIMAL},
      LOGIN_AUTH_CODE = #{record.loginAuthCode,jdbcType=VARCHAR},
      CUSTOM_1 = #{record.custom1,jdbcType=VARCHAR},
      CUSTOM_2 = #{record.custom2,jdbcType=VARCHAR},
      CUSTOM_3 = #{record.custom3,jdbcType=VARCHAR},
      CUSTOM_4 = #{record.custom4,jdbcType=DECIMAL},
      CUSTOM_5 = #{record.custom5,jdbcType=DECIMAL},
      CUSTOM_6 = #{record.custom6,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.hansam.entity.SysOp">
    update sys_op
    <set>
      <if test="opCode != null">
        OP_CODE = #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="opName != null">
        OP_NAME = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="opKind != null">
        OP_KIND = #{opKind,jdbcType=DECIMAL},
      </if>
      <if test="mobileNo != null">
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="emailAdress != null">
        EMAIL_ADRESS = #{emailAdress,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null">
        LOGIN_CODE = #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="loginPasswd != null">
        LOGIN_PASSWD = #{loginPasswd,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="allowChangePasswd != null">
        ALLOW_CHANGE_PASSWD = #{allowChangePasswd,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginLogId != null">
        LAST_LOGIN_LOG_ID = #{lastLoginLogId,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=DECIMAL},
      </if>
      <if test="tryTimes != null">
        TRY_TIMES = #{tryTimes,jdbcType=DECIMAL},
      </if>
      <if test="loginFlag != null">
        LOGIN_FLAG = #{loginFlag,jdbcType=DECIMAL},
      </if>
      <if test="superUserFlag != null">
        SUPER_USER_FLAG = #{superUserFlag,jdbcType=DECIMAL},
      </if>
      <if test="passwdValidDays != null">
        PASSWD_VALID_DAYS = #{passwdValidDays,jdbcType=DECIMAL},
      </if>
      <if test="lockFlag != null">
        LOCK_FLAG = #{lockFlag,jdbcType=DECIMAL},
      </if>
      <if test="isUpdatePwd != null">
        IS_UPDATE_PWD = #{isUpdatePwd,jdbcType=DECIMAL},
      </if>
      <if test="loginAuthCode != null">
        LOGIN_AUTH_CODE = #{loginAuthCode,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null">
        CUSTOM_1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null">
        CUSTOM_2 = #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null">
        CUSTOM_3 = #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null">
        CUSTOM_4 = #{custom4,jdbcType=DECIMAL},
      </if>
      <if test="custom5 != null">
        CUSTOM_5 = #{custom5,jdbcType=DECIMAL},
      </if>
      <if test="custom6 != null">
        CUSTOM_6 = #{custom6,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.hansam.entity.SysOp">
    update sys_op
    set OP_CODE = #{opCode,jdbcType=VARCHAR},
      OP_NAME = #{opName,jdbcType=VARCHAR},
      OP_KIND = #{opKind,jdbcType=DECIMAL},
      MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      EMAIL_ADRESS = #{emailAdress,jdbcType=VARCHAR},
      LOGIN_CODE = #{loginCode,jdbcType=VARCHAR},
      LOGIN_PASSWD = #{loginPasswd,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      ALLOW_CHANGE_PASSWD = #{allowChangePasswd,jdbcType=DECIMAL},
      LAST_LOGIN_LOG_ID = #{lastLoginLogId,jdbcType=DECIMAL},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=DECIMAL},
      TRY_TIMES = #{tryTimes,jdbcType=DECIMAL},
      LOGIN_FLAG = #{loginFlag,jdbcType=DECIMAL},
      SUPER_USER_FLAG = #{superUserFlag,jdbcType=DECIMAL},
      PASSWD_VALID_DAYS = #{passwdValidDays,jdbcType=DECIMAL},
      LOCK_FLAG = #{lockFlag,jdbcType=DECIMAL},
      IS_UPDATE_PWD = #{isUpdatePwd,jdbcType=DECIMAL},
      LOGIN_AUTH_CODE = #{loginAuthCode,jdbcType=VARCHAR},
      CUSTOM_1 = #{custom1,jdbcType=VARCHAR},
      CUSTOM_2 = #{custom2,jdbcType=VARCHAR},
      CUSTOM_3 = #{custom3,jdbcType=VARCHAR},
      CUSTOM_4 = #{custom4,jdbcType=DECIMAL},
      CUSTOM_5 = #{custom5,jdbcType=DECIMAL},
      CUSTOM_6 = #{custom6,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>