<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.hansam.mapper.SysOrgMapper">
  <resultMap id="BaseResultMap" type="cc.hansam.entity.SysOrg">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ORG_TYPE_ID" jdbcType="DECIMAL" property="orgTypeId" />
    <result column="PARENT_ORG_ID" jdbcType="DECIMAL" property="parentOrgId" />
    <result column="ORG_LEVEL" jdbcType="DECIMAL" property="orgLevel" />
    <result column="ORG_LVL_PATH" jdbcType="VARCHAR" property="orgLvlPath" />
    <result column="ORDER_NO" jdbcType="DECIMAL" property="orderNo" />
    <result column="IS_LEAF" jdbcType="DECIMAL" property="isLeaf" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="AUTH_ORG_ID" jdbcType="DECIMAL" property="authOrgId" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="DISTRICT_ID" jdbcType="VARCHAR" property="districtId" />
    <result column="MEMBER_NUM" jdbcType="DECIMAL" property="memberNum" />
    <result column="MANAGER_NAME" jdbcType="VARCHAR" property="managerName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="ORG_ADDRESS" jdbcType="VARCHAR" property="orgAddress" />
    <result column="CONTACT_NAME" jdbcType="VARCHAR" property="contactName" />
    <result column="CONTACT_CARD_TYPE" jdbcType="DECIMAL" property="contactCardType" />
    <result column="CONTACT_CARD_CODE" jdbcType="VARCHAR" property="contactCardCode" />
    <result column="CONTACT_MOBILE" jdbcType="VARCHAR" property="contactMobile" />
    <result column="NATIONALITY_ID" jdbcType="DECIMAL" property="nationalityId" />
    <result column="PROVINCE_ID" jdbcType="DECIMAL" property="provinceId" />
    <result column="CITY_ID" jdbcType="DECIMAL" property="cityId" />
    <result column="COUNTY_ID" jdbcType="DECIMAL" property="countyId" />
    <result column="POSTAL_CODE" jdbcType="DECIMAL" property="postalCode" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CUSTOM_1" jdbcType="VARCHAR" property="custom1" />
    <result column="CUSTOM_2" jdbcType="VARCHAR" property="custom2" />
    <result column="CUSTOM_3" jdbcType="VARCHAR" property="custom3" />
    <result column="CUSTOM_4" jdbcType="DECIMAL" property="custom4" />
    <result column="CUSTOM_5" jdbcType="DECIMAL" property="custom5" />
    <result column="CUSTOM_6" jdbcType="DECIMAL" property="custom6" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId" />
    <result column="USER_DOMAIN_ID" jdbcType="DECIMAL" property="userDomainId" />
    <result column="DATA_STATUS" jdbcType="DECIMAL" property="dataStatus" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="CREATE_TIME" jdbcType="DECIMAL" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="DECIMAL" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORG_CODE, ORG_NAME, ORG_TYPE_ID, PARENT_ORG_ID, ORG_LEVEL, ORG_LVL_PATH, ORDER_NO, 
    IS_LEAF, ICON, AUTH_ORG_ID, SHORT_NAME, ENGLISH_NAME, DISTRICT_ID, MEMBER_NUM, MANAGER_NAME, 
    EMAIL, PHONE, FAX, ORG_ADDRESS, CONTACT_NAME, CONTACT_CARD_TYPE, CONTACT_CARD_CODE, 
    CONTACT_MOBILE, NATIONALITY_ID, PROVINCE_ID, CITY_ID, COUNTY_ID, POSTAL_CODE, REMARK, 
    CUSTOM_1, CUSTOM_2, CUSTOM_3, CUSTOM_4, CUSTOM_5, CUSTOM_6, STATUS, DOMAIN_ID, USER_DOMAIN_ID, 
    DATA_STATUS, CREATOR, MODIFIER, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByExample" parameterType="cc.hansam.entity.SysOrgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_org
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_org
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cc.hansam.entity.SysOrgExample">
    delete from sys_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.hansam.entity.SysOrg">
    insert into sys_org (ID, ORG_CODE, ORG_NAME, 
      ORG_TYPE_ID, PARENT_ORG_ID, ORG_LEVEL, 
      ORG_LVL_PATH, ORDER_NO, IS_LEAF, 
      ICON, AUTH_ORG_ID, SHORT_NAME, 
      ENGLISH_NAME, DISTRICT_ID, MEMBER_NUM, 
      MANAGER_NAME, EMAIL, PHONE, 
      FAX, ORG_ADDRESS, CONTACT_NAME, 
      CONTACT_CARD_TYPE, CONTACT_CARD_CODE, CONTACT_MOBILE, 
      NATIONALITY_ID, PROVINCE_ID, CITY_ID, 
      COUNTY_ID, POSTAL_CODE, REMARK, 
      CUSTOM_1, CUSTOM_2, CUSTOM_3, 
      CUSTOM_4, CUSTOM_5, CUSTOM_6, 
      STATUS, DOMAIN_ID, USER_DOMAIN_ID, 
      DATA_STATUS, CREATOR, MODIFIER, 
      CREATE_TIME, MODIFY_TIME)
    values (#{id,jdbcType=DECIMAL}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{orgTypeId,jdbcType=DECIMAL}, #{parentOrgId,jdbcType=DECIMAL}, #{orgLevel,jdbcType=DECIMAL}, 
      #{orgLvlPath,jdbcType=VARCHAR}, #{orderNo,jdbcType=DECIMAL}, #{isLeaf,jdbcType=DECIMAL}, 
      #{icon,jdbcType=VARCHAR}, #{authOrgId,jdbcType=DECIMAL}, #{shortName,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, #{memberNum,jdbcType=DECIMAL}, 
      #{managerName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{orgAddress,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactCardType,jdbcType=DECIMAL}, #{contactCardCode,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, 
      #{nationalityId,jdbcType=DECIMAL}, #{provinceId,jdbcType=DECIMAL}, #{cityId,jdbcType=DECIMAL}, 
      #{countyId,jdbcType=DECIMAL}, #{postalCode,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR}, #{custom3,jdbcType=VARCHAR}, 
      #{custom4,jdbcType=DECIMAL}, #{custom5,jdbcType=DECIMAL}, #{custom6,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{domainId,jdbcType=DECIMAL}, #{userDomainId,jdbcType=DECIMAL}, 
      #{dataStatus,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DECIMAL}, #{modifyTime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cc.hansam.entity.SysOrg">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="orgTypeId != null">
        ORG_TYPE_ID,
      </if>
      <if test="parentOrgId != null">
        PARENT_ORG_ID,
      </if>
      <if test="orgLevel != null">
        ORG_LEVEL,
      </if>
      <if test="orgLvlPath != null">
        ORG_LVL_PATH,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="isLeaf != null">
        IS_LEAF,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="authOrgId != null">
        AUTH_ORG_ID,
      </if>
      <if test="shortName != null">
        SHORT_NAME,
      </if>
      <if test="englishName != null">
        ENGLISH_NAME,
      </if>
      <if test="districtId != null">
        DISTRICT_ID,
      </if>
      <if test="memberNum != null">
        MEMBER_NUM,
      </if>
      <if test="managerName != null">
        MANAGER_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="orgAddress != null">
        ORG_ADDRESS,
      </if>
      <if test="contactName != null">
        CONTACT_NAME,
      </if>
      <if test="contactCardType != null">
        CONTACT_CARD_TYPE,
      </if>
      <if test="contactCardCode != null">
        CONTACT_CARD_CODE,
      </if>
      <if test="contactMobile != null">
        CONTACT_MOBILE,
      </if>
      <if test="nationalityId != null">
        NATIONALITY_ID,
      </if>
      <if test="provinceId != null">
        PROVINCE_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="countyId != null">
        COUNTY_ID,
      </if>
      <if test="postalCode != null">
        POSTAL_CODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="custom1 != null">
        CUSTOM_1,
      </if>
      <if test="custom2 != null">
        CUSTOM_2,
      </if>
      <if test="custom3 != null">
        CUSTOM_3,
      </if>
      <if test="custom4 != null">
        CUSTOM_4,
      </if>
      <if test="custom5 != null">
        CUSTOM_5,
      </if>
      <if test="custom6 != null">
        CUSTOM_6,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID,
      </if>
      <if test="dataStatus != null">
        DATA_STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgTypeId != null">
        #{orgTypeId,jdbcType=DECIMAL},
      </if>
      <if test="parentOrgId != null">
        #{parentOrgId,jdbcType=DECIMAL},
      </if>
      <if test="orgLevel != null">
        #{orgLevel,jdbcType=DECIMAL},
      </if>
      <if test="orgLvlPath != null">
        #{orgLvlPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="authOrgId != null">
        #{authOrgId,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="memberNum != null">
        #{memberNum,jdbcType=DECIMAL},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress != null">
        #{orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactCardType != null">
        #{contactCardType,jdbcType=DECIMAL},
      </if>
      <if test="contactCardCode != null">
        #{contactCardCode,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="nationalityId != null">
        #{nationalityId,jdbcType=DECIMAL},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=DECIMAL},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=DECIMAL},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=DECIMAL},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null">
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null">
        #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null">
        #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null">
        #{custom4,jdbcType=DECIMAL},
      </if>
      <if test="custom5 != null">
        #{custom5,jdbcType=DECIMAL},
      </if>
      <if test="custom6 != null">
        #{custom6,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.hansam.entity.SysOrgExample" resultType="java.lang.Long">
    select count(*) from sys_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_org
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.orgCode != null">
        ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgTypeId != null">
        ORG_TYPE_ID = #{record.orgTypeId,jdbcType=DECIMAL},
      </if>
      <if test="record.parentOrgId != null">
        PARENT_ORG_ID = #{record.parentOrgId,jdbcType=DECIMAL},
      </if>
      <if test="record.orgLevel != null">
        ORG_LEVEL = #{record.orgLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.orgLvlPath != null">
        ORG_LVL_PATH = #{record.orgLvlPath,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        ORDER_NO = #{record.orderNo,jdbcType=DECIMAL},
      </if>
      <if test="record.isLeaf != null">
        IS_LEAF = #{record.isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="record.icon != null">
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.authOrgId != null">
        AUTH_ORG_ID = #{record.authOrgId,jdbcType=DECIMAL},
      </if>
      <if test="record.shortName != null">
        SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null">
        ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.districtId != null">
        DISTRICT_ID = #{record.districtId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberNum != null">
        MEMBER_NUM = #{record.memberNum,jdbcType=DECIMAL},
      </if>
      <if test="record.managerName != null">
        MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null">
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.orgAddress != null">
        ORG_ADDRESS = #{record.orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null">
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactCardType != null">
        CONTACT_CARD_TYPE = #{record.contactCardType,jdbcType=DECIMAL},
      </if>
      <if test="record.contactCardCode != null">
        CONTACT_CARD_CODE = #{record.contactCardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.contactMobile != null">
        CONTACT_MOBILE = #{record.contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.nationalityId != null">
        NATIONALITY_ID = #{record.nationalityId,jdbcType=DECIMAL},
      </if>
      <if test="record.provinceId != null">
        PROVINCE_ID = #{record.provinceId,jdbcType=DECIMAL},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=DECIMAL},
      </if>
      <if test="record.countyId != null">
        COUNTY_ID = #{record.countyId,jdbcType=DECIMAL},
      </if>
      <if test="record.postalCode != null">
        POSTAL_CODE = #{record.postalCode,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.custom1 != null">
        CUSTOM_1 = #{record.custom1,jdbcType=VARCHAR},
      </if>
      <if test="record.custom2 != null">
        CUSTOM_2 = #{record.custom2,jdbcType=VARCHAR},
      </if>
      <if test="record.custom3 != null">
        CUSTOM_3 = #{record.custom3,jdbcType=VARCHAR},
      </if>
      <if test="record.custom4 != null">
        CUSTOM_4 = #{record.custom4,jdbcType=DECIMAL},
      </if>
      <if test="record.custom5 != null">
        CUSTOM_5 = #{record.custom5,jdbcType=DECIMAL},
      </if>
      <if test="record.custom6 != null">
        CUSTOM_6 = #{record.custom6,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.domainId != null">
        DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      </if>
      <if test="record.userDomainId != null">
        USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="record.dataStatus != null">
        DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_org
    set ID = #{record.id,jdbcType=DECIMAL},
      ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ORG_TYPE_ID = #{record.orgTypeId,jdbcType=DECIMAL},
      PARENT_ORG_ID = #{record.parentOrgId,jdbcType=DECIMAL},
      ORG_LEVEL = #{record.orgLevel,jdbcType=DECIMAL},
      ORG_LVL_PATH = #{record.orgLvlPath,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=DECIMAL},
      IS_LEAF = #{record.isLeaf,jdbcType=DECIMAL},
      ICON = #{record.icon,jdbcType=VARCHAR},
      AUTH_ORG_ID = #{record.authOrgId,jdbcType=DECIMAL},
      SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      DISTRICT_ID = #{record.districtId,jdbcType=VARCHAR},
      MEMBER_NUM = #{record.memberNum,jdbcType=DECIMAL},
      MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      ORG_ADDRESS = #{record.orgAddress,jdbcType=VARCHAR},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      CONTACT_CARD_TYPE = #{record.contactCardType,jdbcType=DECIMAL},
      CONTACT_CARD_CODE = #{record.contactCardCode,jdbcType=VARCHAR},
      CONTACT_MOBILE = #{record.contactMobile,jdbcType=VARCHAR},
      NATIONALITY_ID = #{record.nationalityId,jdbcType=DECIMAL},
      PROVINCE_ID = #{record.provinceId,jdbcType=DECIMAL},
      CITY_ID = #{record.cityId,jdbcType=DECIMAL},
      COUNTY_ID = #{record.countyId,jdbcType=DECIMAL},
      POSTAL_CODE = #{record.postalCode,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CUSTOM_1 = #{record.custom1,jdbcType=VARCHAR},
      CUSTOM_2 = #{record.custom2,jdbcType=VARCHAR},
      CUSTOM_3 = #{record.custom3,jdbcType=VARCHAR},
      CUSTOM_4 = #{record.custom4,jdbcType=DECIMAL},
      CUSTOM_5 = #{record.custom5,jdbcType=DECIMAL},
      CUSTOM_6 = #{record.custom6,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.hansam.entity.SysOrg">
    update sys_org
    <set>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgTypeId != null">
        ORG_TYPE_ID = #{orgTypeId,jdbcType=DECIMAL},
      </if>
      <if test="parentOrgId != null">
        PARENT_ORG_ID = #{parentOrgId,jdbcType=DECIMAL},
      </if>
      <if test="orgLevel != null">
        ORG_LEVEL = #{orgLevel,jdbcType=DECIMAL},
      </if>
      <if test="orgLvlPath != null">
        ORG_LVL_PATH = #{orgLvlPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="isLeaf != null">
        IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="authOrgId != null">
        AUTH_ORG_ID = #{authOrgId,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null">
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="memberNum != null">
        MEMBER_NUM = #{memberNum,jdbcType=DECIMAL},
      </if>
      <if test="managerName != null">
        MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress != null">
        ORG_ADDRESS = #{orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactCardType != null">
        CONTACT_CARD_TYPE = #{contactCardType,jdbcType=DECIMAL},
      </if>
      <if test="contactCardCode != null">
        CONTACT_CARD_CODE = #{contactCardCode,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        CONTACT_MOBILE = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="nationalityId != null">
        NATIONALITY_ID = #{nationalityId,jdbcType=DECIMAL},
      </if>
      <if test="provinceId != null">
        PROVINCE_ID = #{provinceId,jdbcType=DECIMAL},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=DECIMAL},
      </if>
      <if test="countyId != null">
        COUNTY_ID = #{countyId,jdbcType=DECIMAL},
      </if>
      <if test="postalCode != null">
        POSTAL_CODE = #{postalCode,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null">
        CUSTOM_1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null">
        CUSTOM_2 = #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null">
        CUSTOM_3 = #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null">
        CUSTOM_4 = #{custom4,jdbcType=DECIMAL},
      </if>
      <if test="custom5 != null">
        CUSTOM_5 = #{custom5,jdbcType=DECIMAL},
      </if>
      <if test="custom6 != null">
        CUSTOM_6 = #{custom6,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.hansam.entity.SysOrg">
    update sys_org
    set ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ORG_TYPE_ID = #{orgTypeId,jdbcType=DECIMAL},
      PARENT_ORG_ID = #{parentOrgId,jdbcType=DECIMAL},
      ORG_LEVEL = #{orgLevel,jdbcType=DECIMAL},
      ORG_LVL_PATH = #{orgLvlPath,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      IS_LEAF = #{isLeaf,jdbcType=DECIMAL},
      ICON = #{icon,jdbcType=VARCHAR},
      AUTH_ORG_ID = #{authOrgId,jdbcType=DECIMAL},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      DISTRICT_ID = #{districtId,jdbcType=VARCHAR},
      MEMBER_NUM = #{memberNum,jdbcType=DECIMAL},
      MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      ORG_ADDRESS = #{orgAddress,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_CARD_TYPE = #{contactCardType,jdbcType=DECIMAL},
      CONTACT_CARD_CODE = #{contactCardCode,jdbcType=VARCHAR},
      CONTACT_MOBILE = #{contactMobile,jdbcType=VARCHAR},
      NATIONALITY_ID = #{nationalityId,jdbcType=DECIMAL},
      PROVINCE_ID = #{provinceId,jdbcType=DECIMAL},
      CITY_ID = #{cityId,jdbcType=DECIMAL},
      COUNTY_ID = #{countyId,jdbcType=DECIMAL},
      POSTAL_CODE = #{postalCode,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CUSTOM_1 = #{custom1,jdbcType=VARCHAR},
      CUSTOM_2 = #{custom2,jdbcType=VARCHAR},
      CUSTOM_3 = #{custom3,jdbcType=VARCHAR},
      CUSTOM_4 = #{custom4,jdbcType=DECIMAL},
      CUSTOM_5 = #{custom5,jdbcType=DECIMAL},
      CUSTOM_6 = #{custom6,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>