<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.hansam.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="cc.hansam.entity.SysRole">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_TYPE" jdbcType="DECIMAL" property="roleType" />
    <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="DOMAIN_ID" jdbcType="DECIMAL" property="domainId" />
    <result column="USER_DOMAIN_ID" jdbcType="DECIMAL" property="userDomainId" />
    <result column="DATA_STATUS" jdbcType="DECIMAL" property="dataStatus" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="CREATE_TIME" jdbcType="DECIMAL" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="DECIMAL" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ROLE_CODE, ROLE_NAME, ROLE_TYPE, ROLE_DESC, STATUS, DOMAIN_ID, USER_DOMAIN_ID, 
    DATA_STATUS, CREATOR, MODIFIER, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByExample" parameterType="cc.hansam.entity.SysRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cc.hansam.entity.SysRoleExample">
    delete from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.hansam.entity.SysRole">
    insert into sys_role (ID, ROLE_CODE, ROLE_NAME, 
      ROLE_TYPE, ROLE_DESC, STATUS, 
      DOMAIN_ID, USER_DOMAIN_ID, DATA_STATUS, 
      CREATOR, MODIFIER, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=DECIMAL}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=DECIMAL}, #{roleDesc,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{domainId,jdbcType=DECIMAL}, #{userDomainId,jdbcType=DECIMAL}, #{dataStatus,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=DECIMAL}, 
      #{modifyTime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cc.hansam.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="roleDesc != null">
        ROLE_DESC,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID,
      </if>
      <if test="dataStatus != null">
        DATA_STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.hansam.entity.SysRoleExample" resultType="java.lang.Long">
    select count(*) from sys_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_role
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.roleCode != null">
        ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      </if>
      <if test="record.roleDesc != null">
        ROLE_DESC = #{record.roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.domainId != null">
        DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      </if>
      <if test="record.userDomainId != null">
        USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="record.dataStatus != null">
        DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_role
    set ID = #{record.id,jdbcType=DECIMAL},
      ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      ROLE_TYPE = #{record.roleType,jdbcType=DECIMAL},
      ROLE_DESC = #{record.roleDesc,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      DOMAIN_ID = #{record.domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{record.userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{record.dataStatus,jdbcType=DECIMAL},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{record.modifyTime,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.hansam.entity.SysRole">
    update sys_role
    <set>
      <if test="roleCode != null">
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null">
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="userDomainId != null">
        USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      </if>
      <if test="dataStatus != null">
        DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.hansam.entity.SysRole">
    update sys_role
    set ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=DECIMAL},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      DOMAIN_ID = #{domainId,jdbcType=DECIMAL},
      USER_DOMAIN_ID = #{userDomainId,jdbcType=DECIMAL},
      DATA_STATUS = #{dataStatus,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>